.categories-section {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card {
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.btn-card {
    background: transparent;
    border: 2px solid #ffffff;
    line-height: 28px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25rem;
    color: #ffffff;
    width: 153px;
    height: 48px;
    line-height: 40px;
    transition: background-color 0.3s, border 0.3s;
}

.btn-card:hover{
    background-color: #6329a2;
    color: #ffffff;
    border-color: #6329a2;
} 

.category-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.casual {
    background: url(../../images/products/tênis\ casual.jpg) no-repeat center;
    background-size: cover;
}

.esporte{
    background: url(../../images/products/twnia\ exportivo.jpg) no-repeat center;
    background-size: cover;
}

.moderno {
    background: url(../../images/products/tênis\ colorido.jpg) no-repeat center;
    background-size: cover;
}

.futurista {
    background: url(../../images/products/tênis\ futurista.jpg) no-repeat center;
    background-size: cover;
}

